* {
  box-sizing: border-box;
}
body {
  background-color: rgb(59, 59, 59);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Padauk", sans-serif;
  color: white;
  text-decoration: underline;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.list-container {
  display: flex;
  justify-content: center;
  transition: 100ms;
  align-items: center;
}
.list {
  padding: 0;
}
.btns {
  margin-top: 5%;
  text-align: center;
}
.btn {
  margin-bottom: 10%;
  padding: 3%;
  cursor: pointer;
  background-color: rgb(107, 243, 191);
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
}
.input {
  border: 0;
  border-bottom: 1px solid black;
}

.listBtns {
  padding-left: 5%;
}
.list-item {
  animation: reveal 0.5s ease-in-out;
  margin-bottom: 2%;
  padding: 5%;
  transition: 100ms;
  list-style-type: none;
  width: 200px;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(235, 230, 230, 0.8);
}

.list-item p {
  margin-top: 0;
  color: black;
}

.delete,
.done {
  margin: 0;
  margin-right: 10px;
  width: 50px;
}

.completed-list {
  padding: 0;
}
.complete {
  text-decoration: line-through;
  background-color: rgb(89, 233, 89);
}
